@charset "utf-8";

// Zippy Docs color scheme
$body-background-color: #ffffff;
$body-heading-color: #0f172a;
$body-text-color: #1f2933;
$body-link-color: #3498db;
$nav-child-link-color: #1f78c1;
$sidebar-color: #f5f7fb;
$table-background-color: #fdfefe;
$code-background-color: #f8f9fa;
$feedback-color: #1abc9c;
$search-result-preview-color: #475569;
$search-result-border-color: #d0d7e2;
$search-result-background-color: #ffffff;
$search-result-headline-color: #0f172a;
$search-result-inline-code-color: #dc3545;
$btn-primary-color: #3498db;
$base-button-color: #3498db;
